.cloud {
    width: 30%;
    position: absolute;
    top: 0;
}

.cloud-left {
    left: -12%;
    top: -35%;
}

.cloud-right {
    right: -12%;
    top: 5%;
}

section.header {
    padding: 120px;
    padding-bottom: 20px;
}

.invite {
    color: #6348B3;
    margin: 10px 0;
    font-size: 18px;
}

.email-box {
    font-family: Manjari;
    font-size: 14px;
}

.features {
    font-family: Manjari;
    margin: 30px;
}

.feature-details {
    max-width: 620px;
}

.feature-heading {
    font-size: 40px;
}

.feature-description {
    font-size: 20px;
}

.feature-image {
    width: 250px;
}

.footer {
    background-color: #F6F6F9;
    color: #6348B3;
}