<section class="header" fxLayout="column" fxLayoutAlign="left">
    <img src="../../assets/cloud-left.png" alt="Floating Cloud" class="cloud cloud-left">
    <img src="../../assets/cloud-right.png" alt="Floating Cloud" class="cloud cloud-right">
    <h1 class="primary primary-heading">Join the #1 squad</h1>
    <ul class="no-style-list primary-dark">
        <li>
            Learn from the best 👨‍🏫
        </li>
        <li>
            Ask doubts 📣
        </li>
        <li>
            Help others ✅
        </li>
        <li>
            Access exclusive resources 🎓
        </li>
    </ul>
    <div class="email-box">
        <p class="invite">
            Enter your email and we will instantly send you an invitation
        </p>
        <input class="input-box" placeholder="Enter your email">
        <button class="btn btn-primary">
            Count me in
        </button>
    </div>
</section>